<div class="container">
    <div class="text">
        <h1>
            What we care about at SupportFinity    
        </h1>
        <p>
            The sole goal of our complicated hiring process is to maximize the value and the contribution your jobs will add to your business, we provide unique benefits for our full time
            people to making sure we operate a lowest attrition levels.
        </p>
    </div>
    <div class="image">
        <img src="../../assets/mountain.svg">
    </div>
</div>
