<div class="container">
    <div class="paragraph-man-image"> 
        <div class="paragraph">
            <h1>Jobs from</h1> <h2>A-Z</h2>
            <div class="clr"></div>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Loren Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
            </p>
        </div>
        <div class="man-image">
            <img src="../../assets/man.svg">
        </div>
        
    </div>
    

</div>
